.artist-header {
    display: flex;
    align-items: center; /* Vertically align the items */
    gap: 10px; /* Add spacing between the image and text */
}
  
.arstistImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    flex-shrink: 0; /* Prevent the image from shrinking */
}
  
h2 {
    margin: 0;
    flex: 1; /* Allow the `h2` to take remaining space */
}

li {
    list-style: none;
}

.album {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 5px 0; 
}

.album:hover {
    border: solid rgb(92, 92, 92);
    size-adjust: 5px;
    cursor: pointer
}

.album:active {
    border: solid 2px rgb(13, 13, 13);
}

.artistImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.albumName {
    flex-grow: 1; /* Takes up available space between the icon and duration */
    font-size: 16px;
}

.albumImg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}