<h2>Login as {{ userRole | titlecase }}</h2>
<hr>
<form (ngSubmit)="login()">
  <input placeholder="username" type="text" [(ngModel)]="username" name="username" required />
  <br>
  <input placeholder="Password" type="password" [(ngModel)]="password" name="password" required />
  <br>
  <div *ngIf="userRole === 'artist'">
    <input
      placeholder="Authentication ID"
      [(ngModel)]="authentication_id"
      name="authentication_id"
      required
    />
  </div>
  <br>
  <div id="container">
    <button type="submit">Log In</button>
  </div>
</form>