<div class="playlist-header">
    <div class="playlist1">
        <img src="../../assets/playlist-icon.png" class="playlistImg"/>
        <h2 class="playlist-info"> {{ playlistName }} </h2>
        <button mat-raised-button (click)="togglePlayPause()" class="play-button">
            <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
        </button>
    </div>

    <div class="playlist-likes">
        <mat-icon style="font-size: 20px;">{{ 'keyboard_double_arrow_left' }}</mat-icon>
        <span class="likes-count" style="margin-right: 5px"> {{ Like }} </span>
        <span class="liked-count"> {{ LikeStat }} </span>
    </div>
</div>

<!-- If user owns the playlist -->
<div *ngIf="userId === currUserId">
    <div class="addedSongsBlock">
        <ul>
            <li *ngFor="let song of songs">
                <div class="song" style="width: 75%;">
                    <img src="../../assets/music-icon.png" class="musicImg"/>  
                    <span class="songName">{{ song.song_title }}</span>
                    <span class="duration"> {{ song.duration | date:'mm:ss' }} </span>
                    <mat-icon matSuffix (click)="removeSongs(song.song_id)">{{ 'do_not_disturb_on' }}</mat-icon>
                </div>
            </li>
        </ul>
    </div>
    <hr style="margin-bottom: 50px;">
    <div class="searchBlock">
        <input 
        style="width: 70%;"
        type="text"
        placeholder="Search for songs to add"
        [(ngModel)]="searchTerm"
        (input)="searchSongs()" />
        
        <!-- Display Search Results -->
        <div *ngIf="searchResults.length > 0">
            <ul>
                <li *ngFor="let result of searchResults">
                    <div class="search-song" style="width: 70%;">
                        <img src="../../assets/music-icon.png" class="musicImg"/>  
                        <span class="songName">{{ result.song_title }}</span>
                        <span class="duration"> {{ result.duration | date:'mm:ss' }} </span>
                        <mat-icon matSuffix (click)="addSong(result.song_id)">{{ 'add_circle' }}</mat-icon>
                    </div>
                </li>
            </ul>
        </div>
    </div>    
</div>
<!-- --------------------------------------------------------------------------------------------------------- -->

<div *ngIf="userId !== currUserId">
    <div class="addedSongsBlock">
        <ul>
            <li *ngFor="let song of songs">
            <div class="song" style="width: 75%;">
                <img src="../../assets/music-icon.png" class="musicImg"/>  
                <span class="songName">{{ song.song_title }}</span>
                <span class="duration"> {{ song.duration | date:'mm:ss' }} </span>
                </div>
            </li>
        </ul>
    </div>
</div>