hr {
    margin-bottom: 10px;
}

#search-line {
    margin-bottom: 10px;
}

#small-line {
    width: 50%;
    margin-left: 0px;
}

#small-line-section {
    width: 50%;
    margin-left: 0px;
    margin-bottom: 50px;
}

#most-right-side-button {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color:aqua;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    
}

.search-block {
    height: 300px;
    overflow-y: auto;
}

.content {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 70%
}

li {
    list-style-type: none;
}

.search-artist {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 5px 0; 
}

.search-artist:hover {
    border: solid rgb(92, 92, 92);
    size-adjust: 5px;
    cursor: pointer
}

.search-artist:active {
    border: solid 2px rgb(13, 13, 13);
}

.artistImg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.search-song {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 5px 0; 
}

.search-song:hover {
    border: solid rgb(92, 92, 92);
    size-adjust: 5px;
    cursor: pointer
}

.search-song:active {
    border: solid 2px rgb(13, 13, 13);
}

.musicImg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.songName {
    flex-grow: 1; /* Takes up available space between the icon and duration */
    font-size: 16px;
}
  
.duration {
    text-align: right; /* Align the text within this span */
    font-size: 14px;
    color: #555; /* Optional: gray text */
    flex-grow: 1;
}

.search-album {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 5px 0; 
}

.search-album:hover {
    border: solid rgb(92, 92, 92);
    size-adjust: 5px;
    cursor: pointer
}

.search-album:active {
    border: solid 2px rgb(13, 13, 13);
}

.albumImg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.artistName {
    flex-grow: 1; /* Takes up available space between the icon and duration */
    font-size: 16px;
}

.style {
    text-align: right; /* Align the text within this span */
    font-size: 14px;
    color: #555; /* Optional: gray text */
    flex-grow: 1;
}

.search-playlist {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 5px 0; 
}

.search-playlist:hover {
    border: solid rgb(92, 92, 92);
    size-adjust: 5px;
    cursor: pointer
}

.search-playlist:active {
    border: solid 2px rgb(13, 13, 13);
}

.playlistImg {
    height: 20px; /* Set image size */
    width: 20px; /* Make the image square */
    margin-right: 10px; /* Space between image and text */
}

#albums {
    width: 50%;
    display: flex;
    justify-content: center; 
}

#playlists {
    width: 50%;
    display: flex;
    justify-content: center; 
}

#likedPlaylists {
    width: 50%;
    display: flex;
    justify-content: center; 
}

.playlistName {
    flex-grow: 1; /* Takes up available space between the icon and duration */
    font-size: 16px;
}

.albumName {
    flex-grow: 1; 
    font-size: 16px;
}

.mat-mdc-raised-button {
    background-color: rgb(230, 0, 255) !important;

    .mdc-button__label {
        color: white;
    }
    
}

.playlistName {
    flex-grow: 1; 
    font-size: 16px;
}

#header-container {
    display: flex;              
    align-items: center;       
    justify-content: space-between; 
    padding: 0 10px;           
}
  
#header-container h2 {
    flex-grow: 1;                 
    font-size: 24px;
    text-align: center;
}

#LogOut-linker {
    display: flex;             
    align-items: center;        
    position: relative;         
}

.Logout-icon {
    transform: scale(0.7);      
}

.animated-icon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(0.7);
}

#LogOut-linker:hover .animated-icon {
    opacity: 1;
    cursor: pointer;
}