input {
    width : 70%;
}

hr {
    margin-bottom: 50px;
}

#search-line {
    margin-bottom: 10px;
}

#small-line {
    width: 50%;
    margin-left: 0px;
}

#small-line-section {
    width: 50%;
    margin-left: 0px;
    margin-bottom: 50px;
}

#most-right-side-button {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color:aqua;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    
}

#search-block {
    height: 300px;
    overflow-y: auto;
}

li {
    list-style-type: none;
}

.search-artist {
    height: 50px;
}

.search-artist:hover {
    border-color:rgb(43, 42, 42);
    border: solid;
    size-adjust: 5px;
    cursor: pointer
}